<h1>About Us</h1>
<p>
	We believe there is a perfect college for every student and we want to help you find it. 
	Our mission is to provide students and parents with the tools necessary to successfully
	navigate the college admissions process and along the way reduce the stress and increase
	the fun. Through our unique admissions consulting service and social platform (collegezen.com)
	we provide the platform to easily find, research, engage, and gain admission to the college of your dreams.
</p>
