<h1>Welcome</h1>
<p>
	Welcome to CollegeZen, our social platform for the College People. Click on the Sign Up button below to explore CollegeZen!
</p>

<%= link_to "Sign Up!", signup_path, :class => "signup_button round" %>
