html {
  font-family: 'Ubuntu', sans-serif;
  font-size:80%;
}

.container {
  width: 800px;
    margin:0 auto;
}

body {
  background: url(background.png) #DDD;
}

header {
  padding-top: 15px;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
  margin-top:0;
  font-weight:normal;
}

/* Links for the page*/

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color:#004560;
}

a:visited {
  color:#004560;
}

/* Top-right Navigation */

nav {
  float: right;
}

nav {
  background-color:#83BFDE;
  padding: 0 0.2em;
  white-space: nowrap;
  font-size:14px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  display:block;
  font-weight:700;
  padding-bottom:10px;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  color:#004560;
}

nav ul li a:hover {
  background: #5291B2;
  border-bottom-left-radius:10px 10px;
  border-bottom-right-radius:10px 10px;
  border-top-left-radius:10px 10px;
  border-top-right-radius:10px 10px;
}

/* Signup button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #83bfde;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

a.signup_button:hover {
	background: #5291b2;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* User Information Page */

div.profile li {	
  list-style-type:none;
  margin-left:-20px;
}

div.user_info{
  width:300px;
  background:#83BFDE;
  padding:10px;
}

div.user_info ul{
  margin-bottom:0;
}

div.user_info li{
  margin-bottom:1px;
}

div.user_info span {
  font-weight:bold;
}

/* Sign up form */

div.field, div.actions {
  margin-bottom: 10px;
}

/* Notification messages */

.field_with_errors {
  padding-left: 5px;
  padding-right:5px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

.error_messages {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  color: #333;
  margin:10px 0 0 0;
  padding: 5px;
}

.error_messages ul li {
  font-size: 12px;
}

.error, .alert, .notice, .success, .info {
  padding:0.8em;
  margin-bottom:1em;
  border:2px solid #ddd;
}

.error, .alert {
  background:#fbe3e4;
  color:#8a1f11;
  border-color:#fbc2c4;
}

.notice {
  background:#fff6bf;
  color:#514721;
  border-color:#ffd324;
}

.success {
  background:#e6efc2;
  color:#264409;
  border-color:#c6d880;
}

.info {
  background:#d5edf8;
  color:#205791;
  border-color:#92cae4;
}

.error a, .alert a {
  color:#8a1f11;
}

.notice a {
  color:#514721;
}

.success a {
  color:#264409;
}

.info a {
  color:#205791;
}

/* Forum tables*/

table {
  width:100%;
}

table tr th {
  background:#83BFDE;
  color:#fff;
  padding:0;
  border:#83BFDE solid 1px;
} 
		
table tr td {
  border:1px #ccc solid;
  padding:5px;
} 
 
table tr td.rightright {
  background: #eee;
}
  
table tr td h4 {
  margin:0;
  padding:0;
  font-weight:normal;
}  

/* Posts for forums */
.post {
  width:100%;
  display:table;
  margin-bottom:5px;
}  

.post img {
  margin-left:20px;
}

.post span {
  padding:5px;
  margin:0;
}  

.post span.left {
  width:150px;
  background:#eee;
  border:3px solid #eee;
  display:table-cell;
  font-size:90%;
}  

.post span.right {
  border:3px solid #eee;
  display:table-cell;
  width:80%;
}   

.post a {
  margin-left:5px;
}
